
{% extends 'bootstrap/base.html' %}

{% block head%}
    {{ super() }}
    <title>
        {% block title %}Flask Platzi |{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
    
{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    <!-- {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %} -->

    <!-- {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data_dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
    {% endfor %} -->

    {% block content %}{% endblock %}

    <!-- {% block scripts %}
        {{ super() }}
    {% endblock %} -->
{% endblock %}